@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4E1CD8;
  --secondary: #eaf6ef;
  --accent: #0056A9;
  --surface: #0000000D
}

@layer components {
  .sidebar-input {
    background-color: rgb(0 0 0 / 0.05);
    color: black;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: 8rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }

  .workspace-cursor-default {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="black" stroke="white" stroke-width="1" d="M5 3l14 9-6 1-3 5-5-15z"/></svg>') 0 0, auto !important;
  }
}