@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4E1CD8;
  --secondary: #eaf6ef;
  --accent: #0056A9;
  --surface: #0000000D
}

@layer components {
  .sidebar-input {
    background-color: rgb(0 0 0 / 0.05);
    color: black;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: 8rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
}